#files, #archives, p.hints {
  width: 400px;
  margin: 20px auto;
}

#files a,
#archives a {
  cursor: default;
  padding-left: 30px;
  background-position: 8px 50%;
  background-repeat: no-repeat;
}

#files a:link,
#archives a:link {
  cursor: pointer;
}

#files a.generating,
#archives a.generating {
  background-image: url(loading.gif);
}

#files a.generating,
#files a.waiting,
#archives a.generating,
#archives a.waiting {
  color: #aaa;
}

#files a.generating:hover,
#files a.waiting:hover,
#archives a.generating:hover,
#archives a.waiting:hover {
  /* remove bootstrap hover styles */
  background-color: #fff;
}

#files a.generating .state,
#files a.waiting .state,
#archives a.generating .state,
#archives a.waiting .state {
  color: #ccc;
}

#files a.csv,
#archives a.csv {
  background-image: url(csv.png);
}

#files a.xls,
#archives a.xls,
#files a.xlsx,
#archives a.xlsx {
  background-image: url(xls.png);
}

#files .state,
#archives .state {
  float: right;
  color: #aaa;
  font-weight: 200;
}

#refresh {
  display: block;
  float: right;
  width: 48px;
  height: 48px;
  background: transparent url(refresh.gif) 50% 50% no-repeat;
  cursor: pointer;
}

.refreshing {
  -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -moz-animation-name: spin;
  -webkit-animation-name: spin;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-timing-function:linear;
  -webkit-animation-timing-function:linear;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.alert pre, .alert code {
  background: rgba(255,255,255,0.2);
  border: 1px solid rgba(0,0,0,0.15);
}

.alert pre {
  margin-top: 10px;
}

div.problem {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20em;
  margin: -4em 0 0 -10em;
  text-align: center;
  color: #68460B;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: rgb(252, 248, 227);
  border: 1px solid rgb(251, 238, 213);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

div.problem h4 {
  margin-top: 14px; /* to match the margin-bottom of the <p> below it */
}
