#files, #archives, p.hints {
  width: 400px;
  margin: 20px auto;
}

#files a,
#archives a {
  cursor: default;
  padding-left: 30px;
  background-position: 8px 50%;
  background-repeat: no-repeat;
}

#files a:link,
#archives a:link {
  cursor: pointer;
}

#files a.generating,
#archives a.generating {
  background-image: url(loading.gif);
}

#files a.generating,
#files a.waiting,
#archives a.generating,
#archives a.waiting {
  color: #aaa;
}

#files a.generating:hover,
#files a.waiting:hover,
#archives a.generating:hover,
#archives a.waiting:hover {
  /* remove bootstrap hover styles */
  background-color: #fff;
}

#files a.generating .state,
#files a.waiting .state,
#archives a.generating .state,
#archives a.waiting .state {
  color: #ccc;
}

#files a.csv,
#archives a.csv {
  background-image: url(csv.png);
}

#files a.xls,
#archives a.xls {
  background-image: url(xls.png);
}

#files .state,
#archives .state {
  float: right;
  color: #aaa;
  font-weight: 200;
}

#refresh {
  display: block;
  float: right;
  width: 48px;
  height: 48px;
  background: transparent url(refresh.gif) 50% 50% no-repeat;
  cursor: pointer;
}

.refreshing {
  -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -moz-animation-name: spin;
  -webkit-animation-name: spin;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-timing-function:linear;
  -webkit-animation-timing-function:linear;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.alert pre {
  margin-top: 10px;
  background: rgba(255,255,255,0.2);
  border: 1px solid rgba(0,0,0,0.15);
}
