body {
  background: transparent;
  padding: 20px;
}

.loading {
    margin-top: 100px;
    padding-top: 50px;
    text-align: center;
    background: transparent url('../img/tool-loader.gif') center top no-repeat;
    color: #666;
    font-size: 20px;
}

.container {
    width: 50em;
    text-align: center;
}

input {
  width: 43em;
}

.choice {
  margin-top: 100px;
  text-align: center;
}

.choice a {
  margin: 0 10px;
}